@inject HttpClient Http
@page "/"

<PageTitle>Movie list</PageTitle>

<h1 class="display-1">Hello CFS Students <br/> Help Me Write this App!</h1>
@*This code written with George Year 7*@
<p style="color: blue;">What should we make the app do????</p>


@if (Movies != null && Movies.Any())
{
    <div class="row">
        @foreach (var movie in Movies)
        {
            @*This code written with Noah and Leo Year 8*@
            @*This code written with Nyla and Jess Year 11 - made the site work on mobiles*@
            <div class="col-xl-3 col-md-4 col-sm-6">
                <div class="card" style="margin-bottom: 12px;">
                    @*This code written with millie yasmin, martha, may, erin Year 8*@
                    <img src="https://www.themoviedb.org/t/p/w440_and_h660_face/@movie.poster_path" class="card-img-top"/>
                    @*This code written with Isla from Year 8*@
                    <div class="card-body">
                        <h2 class="card-title">@movie.title</h2>
                        
                        @*This code written with Dillon Year 12*@
                        <p class="card-text">Bridie says "@movie.overview"</p>

                        @*This code written with Tom and Elliot Year 8*@
                        <p> Release date: @(movie.NiceReleaseDate)</p> @*This code written with Kiah Year 11 *@
                    </div>        
                </div>
            </div>        
        }
    </div>
}



@code {
    private List<Movie> Movies { get; set; }



    protected override async Task OnInitializedAsync()
    {
        var result = await Http.GetFromJsonAsync<MovieResult>("https://api.themoviedb.org/3/movie/popular?api_key=245735d960369aaa9100f4410af813de");
        Movies = result.results;
    }

    public class MovieResult
    {
        public List<Movie> results { get; set; }
    }


    public class Movie
    {
        public bool adult { get; set; }
        public string backdrop_path { get; set; }
        public List<int> genre_ids { get; set; }
        public int id { get; set; }
        public string original_language { get; set; }
        public string original_title { get; set; }
        public string overview { get; set; }
        public double popularity { get; set; }
        public string poster_path { get; set; }
        public string release_date { get; set; }
        public string title { get; set; }
        public bool video { get; set; }
        public double vote_average { get; set; }
        public int vote_count { get; set; }
        public string NiceReleaseDate => DateTime.Parse(release_date).ToString("dd MMM yyyy");
    }
}
